.container{
    margin:0px;
    padding:0px;
    max-width: 100%;
}
.row{
    height:100%;
    margin:0;
    text-align: center;
}
.container .column{
    padding:5% 5% 5% 5%;
}
.content h1{
    font-size:48px;
    
    color: #868686;
}
.content p{
    font-size:24px;
    
    font-weight: 500;
    line-height: 40px;
}
@media (min-width: 810px) and (max-width: 1199px) {
    .content h1{
        font-size: 36px;
    }
    .content p{
        font-size:16px;
        line-height: 25px;
    }
}
@media (max-width: 809px) {
   
}

@media (max-width: 600px) {
    .content h1{
        font-size: 24px;
    }
    .content p{
        font-size:12px;
        line-height: 25px;
    }
}