.container{
    margin:0px;
    padding:0px;
    max-width: 100%;
}
.row{
    height:100%;
    margin:0px;
}
.container .column{
    padding:2% 10% 2% 4%;
}
.content h1{
    font-size:48px;
    color: #868686;
}
.content p{
    font-size:30px;
    font-weight: 500;
    line-height: 40px;
}