.carousel {
    background-color: white;

}
.carouselRow{
    width:100%;
}
.carouselItem {
    height: calc(80vw/1.9);
}

.heading {
    text-align: center;
    color: white;
    font-weight: bold;
}

.layoutSelector div {
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
}

.activeLayout {
    font-size: 20px;
    border: 3px solid white;
}

.layoutSelector h5 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontDropDown{
    background-color: black;
    text-align: left;
    padding:10px;
}
.dropdown{
    background-color: black;
    box-shadow: none;
    border: none;

    
}
.dropdown button{
    background-color: #E4FE21;
    padding:5px 40px;
   
}
.fontSelector{
    padding:10px;
}
.fontSelector .select{
    width:80%;
}
.generateBox {
    background-color: black;
    text-align: center;
    border-radius: 25px;
    padding: 5px;

}
.generateRow {
    width: 100%;
}
.generateBox input {
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    margin: 10px 20px;
    color: white;
    padding-top: 10px;
    font-size: 16px;
}

.generateBox input:focus {
    border: none;

}

.generateBox a {
    color: black;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
}
@media (min-width: 810px) and (max-width: 1199px) {
    .layoutSelector h5{
        font-size: 16px;
    }
    .generateBox input {
        margin: 10px 20px;
        padding-top: 10px;
        font-size: 16px;
    }
    
    .generateBox a {
        color: black;
        font-weight: bold;
        margin: 10px 5px;
        padding: 10px 5px;
        font-size: 10px;
      
    }
}

@media (max-width: 809px) {
   
}

@media (max-width: 600px) {
    .layoutSelector h5{
        font-size: 16px;
    }
    .generateBox input {
        margin: 10px 20px;
        padding-top: 10px;
        font-size: 10px;
    }
    
    .generateBox a {
        color: black;
        font-weight: bold;
        margin: 10px 5px;
        padding: 10px 5px;
        font-size: 10px;
      
    }
}