.carousel {
    background-color: white;
    
}
.carouselItem{
    height:600px;
}
/* .carousel img {
    height: 512px;
} */

/* .slide5 img {
    height: 50px
} */

.row {
    width: 100%;
}

.generateBox {
    background-color: black;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
   
}
.generateBox input{
    width: 80%;
background-color: transparent;
border:none;
border-bottom: 1px solid gray;
margin: 10px 20px;
color: white;
padding-top: 10px;
font-size: 16px;
}
.generateBox input:focus{
    border: none;
    
}
.generateBox a{
    color:white;
    margin: 10px;
    padding:10px
}

.carousel.carousel-control-prev span {
    background-color: black
}

.carousel .carousel-control-next span {
    background-color: black
}

.carousel h1 {
    font-size: 102px;
    font-family: "Poppins";
    font-weight: bold;
}

.carousel h2 {
    font-size: 64px;
    font-family: "Poppins"
}

.carousel p {
    font-size: 16px;
    font-family: "Poppins";
}

.numbering h1 {
    font-size: 150px;
}

/* .slide1{
    height:500px
} */
.slide1 .row {
    height: 100%;
}

/* .slide1 .upper{
    height:50%;
    margin:5%;
}
.slide1 .down{
    height:50%;
    margin:5%;
} */
/* .slide2 {
    height: 500px
} */

.slide1 .row {
    height: 100%;
}
/* 
.slide2 img {
    height: auto;
    height: 400px;
} */

/* .slide2 .upper {
    height: 50%;
}

.slide2 .down {
    height: 50%;
} */
@media (min-width: 810px) and (max-width: 1199px) {

}
@media (max-width: 809px) {

}
@media (max-width: 600px) {
    .carouselItem{
        height:800px;
    }
    .carousel h1 {
        font-size: 48px;
        font-family: "Poppins";
        font-weight: bold;
    }
    
    .carousel h2 {
        font-size: 36px;
        font-family: "Poppins"
    }
    
    .carousel p {
        font-size: 16px;
        font-family: "Poppins";
    }
    
    .numbering h1 {
        font-size: 64px;
    }
}